/*@@@@@@@@@@@@@@@@@@@@@@@@@   NAVIGATION  CSS STYLE @@@@@@@@@@@@@@@@@@  */

.mainhead-nav .card{
	width:45rem;
	margin-left:300px;
	margin-top: 70px;
	display: block;
	box-shadow: -5px 5px 5px #20B2AA;
	border: none;
	  
}
.mainhead-nav .display-sample-info{
	float:right;
	 margin-right:20px;
	 cursor: pointer;
}
.mainhead-nav .card .headingpart{
	text-align: center;
	height:70px;
	padding-top:10px;
	color: #fff;
	background-color:#20B2AA;
}




.navigation{
	margin-top:30px;
	margin-left:0px;
	display:block;

}

.navigation .notify-item{
	align-items: center;
	margin:0 auto;
	list-style: none;
}
.navigation .notify-item .notify-image{
	padding: 10px 0px;
}
.mainhead-nav .card .navigation .notify-item .notify-image .edit-info{
	float:right; 
	margin-right:10px;
}
.mainhead-nav .card .navigation .notify-item .notify-image .done-sign{
	float:right; 
	margin-right:50px;
}
.mainhead-nav .card .navigation .notify-item .notify-image .fa-pencil{
	font-size:30px;
}
.mainhead-nav .card .navigation .notify-item .notify-image .edit-feild{
	margin-left:16px;
	 font-size:24px;
}
.navigation .notify-item .notify-image img{
	width:43px;
	border-radius: 50%;
}
.mainhead-nav hr{
	border-style: none;
	border-top:dashed;
	border-color:#20B2AA;
	border-width:3px;
	margin-bottom: 0;
	width:100%;
	margin-left: 100px;
}

.display-sample{
	margin-top:10px;
	margin-left:500px;
	display:none;
}
.display-sample .close{
	cursor: pointer;
	margin-right:8px;
	margin-top: 5px;
	color: #fff;
	
}
.display-sample .headingpart{
	background-color:#2E86C1;
	text-align: center;
	height: 50px;
	color: #fff;
}


/*@@@@@@@@@@@@@@@@@@@@@@@@@  Personal-info  CSS STYLE @@@@@@@@@@@@@@@@@@  */


.Personal-info {
	margin-top:10px;
	margin-left:320px;
	display:none;

	
}
.Personal-info .card{
	box-shadow: 0px 2px 2px #3D8BF4;
	border:none;
	width:42rem;
}
.Personal-info .headingpart{
	background-color:#3D8BF4;
	text-align: center;
	color:#fff;
	padding-top:10px;
	height:70px;	

}
.needs-validation{
	margin-top: 10px;
}
.Personal-info .dropdown:before{
	content: " ";
	position: absolute;
	top:-28px;
	left:5%;
	transform: translate(-50%);
	border: 15px solid;
	border-color: transparent transparent #3D8BF4 transparent;
}

.Personal-info .needs-validation  label{
    display: block;
    margin-left:40px;
    margin-top:5px;
    font-weight: bold;
}
.Personal-info .needs-validation .form-row input{
	width:90%;
    padding:0px 0px;
	margin:-2px 0px 28px 45px;
	border-width:0px 0px 3px 0px;
	outline: none;
}

.Personal-info .needs-validation .form-row .form-group select{
    padding:0px 0px;
	margin:-12px 0px 10px 45px;
	border-width:0px 0px 3px 0px;
	outline: none;
}
.Personal-info .button {
  background-color: #3D8BF4; /* Green */
  border: none;
  color: white;
  padding:15px 32px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  font-size:10px;
  float: right;
  margin:5px 20px 15px 15px;
}



/*@@@@@@@@@@@@@@@@@@@@@@@@@  EXPERIENCE  CSS STYLE @@@@@@@@@@@@@@@@@@  */


.experiance{
	margin-top:10px;
	margin-left:320px;
	display:none;

}
.experiance .card{
	border: none;
	width: 40rem;
	box-shadow: 0px 2px 2px #ffce42;
}
.experiance .headingpart{	
	background-color:#ffce42;
	text-align: center;
	color:#000;
	padding-top:10px;
	height:70px;
}
		
.experiance .semihead{
	margin:30px auto;
	text-align: center;
}

.experiance .card .mainform{
	margin-top:10px;
	margin-bottom:50px;
	margin-left:100px;
}
.experiance .card .mainform .part1 {
	margin-top:20px;
	height:50px;
	width: 90%;
	text-align:left;
	padding-top:9px;
	padding-left:10px;
	cursor: pointer;
	box-shadow: 0 5px 3px 5px rgba(0,0,0,0.125);

}
.experiance .card .mainform .part1 span{
	float: right; 
	font-size:35px;
	margin-right:10px;
	margin-top:-8px;
}
.experiance .dropdown:before{
	content: " ";
	position: absolute;
	top:-28px;
	left:31%;
	transform: translate(-40%);
	border: 15px solid;
	border-color: transparent transparent #ffce42 transparent;
}


/*@@@@@@@@@@@@@@@@@@@@@@@@@  Education  CSS STYLE @@@@@@@@@@@@@@@@@@  */


.education{
	margin-top:10px;
	margin-left:320px;
	display:none;

}
.education .card{
	border: none;
	width: 40rem;
	box-shadow: 0px 2px 2px #20B2AA;
}
.education .headingpart{	
	background-color:#20B2AA;
	text-align: center;
	color:#000;
	padding-top:10px;
	height:70px;
}
		
.education .semihead{
	margin:30px auto;
	text-align: center;
}

.education .card .mainform{
	margin-top:10px;
	margin-bottom:50px;
	margin-left:100px;
}
.education .card .mainform .part1{
	margin-top:20px;
	height:50px;
	width: 90%;
	text-align:left;
	padding-left:10px;
	padding-top:7px;
	cursor: pointer;
	color: #000;
	box-shadow: -10px 0px 1px 1px  #20B2AA;

}
.education .card .mainform .part1 span{
	float: right; 
	font-size:35px;
	margin-right:10px;
	margin-top:-8px;
}
.education .dropdown:before{
	content: " ";
	position: absolute;
	top:-28px;
	left:18%;
	transform: translate(-40%);
	border: 15px solid;
	border-color: transparent transparent #20B2AA transparent;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@  SKILL  CSS STYLE @@@@@@@@@@@@@@@@@@  */


.skill{
	margin-top:10px;
	margin-left:320px;
	display:none;


}
.skill .card{
	border: none;
	width: 45rem;
	padding:5px 0px;
	box-shadow: 0px 2px 2px #DC143C;
}
.skill .headingpart{
	background-color:#DC143C;
	text-align: center;
	color:#fff;
	padding-top:10px;
	height:70px;

}
.skill .semihead{
	margin:30px auto;
	text-align: center;

}
.skill .mainform {
	margin-left:50px;
	
}

.skill .mainform .col-md-3{
	border:solid 1px #45b3e0;
	margin: 12px 12px;
	color: #45b3e0;
	width:40px;
	box-shadow: 0px 0px 5px #61C5FA;
	text-align:center;
}
.skill .mainform .col-md-3  p{
	margin-top:10px;
}
.skill .card .input-section input[type="text"]{
    width:60%;
	margin:20px 0px 50px 60px;
	border-width:0px 0px 3px 0px;
	outline: none;
}
.skill .input-section input::placeholder {
	padding-left:10px;
	color:#ddd;
}
.skill .input-section{
	margin-top:20px;
}
.skill form .buttom{
  	display:block;
    width:45px;
    height:45px;
    line-height:2px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-decoration:none;
    background: #DC143C ;
    box-shadow: 0 0 3px gray;
    font-size:40px;
    font-weight:bold;
    outline: none;
    float: right;
    margin-right:150px;
    margin-bottom:40px;
    overflow: hidden;

}
.skill .dropdown:before{
	content: " ";
	position: absolute;
	top:-28px;
	left:44%;
	transform: translate(-40%);
	border:15px solid;
	border-color: transparent transparent #DC143C transparent;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@  SAMPLE-INFO CSS STYLE @@@@@@@@@@@@@@@@@@  */


.sample-info{
	margin-top:10px;
	margin-left:320px;
	display:none;


}
.sample-info .card{
	border: none;
	width: 40rem;
	box-shadow: 0px 4px 4px #FF7F50;
}

.sample-info .headingpart{
	background-color:#FF7F50;
	text-align: center;
	color:#fff;
	padding-top:10px;
	height:70px;
}
.sample-info .semihead{
	margin:30px auto;
	text-align: center;

}

.sample-info .input-section input[type="text"]{
    width:80%;
    display: block;
    padding:0px 0px;
	margin:0px 0px 30px 70px;
	border-width:0px 0px 3px 0px;
	outline: none;
}
.sample-info .input-section label{
	font-weight:bold;
	margin:0px 0px 10px 70px;
}
.sample-info .input-section input::placeholder {
	padding-left:10px;
	color:#ddd;
}

.sample-info .dropdown:before{
	content: " ";
	position: absolute;
	top:-28px;
	left:56%;
	transform: translate(-40%);
	border:15px solid;
	border-color: transparent transparent #FF7F50 transparent;
}
.sample-info .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding:15px 32px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  font-size:10px;
  float: right;
  margin:5px 20px 15px 15px;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@  Graduation  CSS STYLE @@@@@@@@@@@@@@@@@@  */


.graduation {
	margin-top:15px;
	margin-left:350px;
	display:none;
	
}
.Senior-secondary{
	margin-top:15px;
	margin-left:350px;
	display:none;
}
.secondary{
	margin-top:15px;
	margin-left:350px;
	display:none;
}
.post-grad{
	margin-top:15px;
	margin-left:350px;
	display:none;

}
.diploma{
	margin-top:15px;
	margin-left:350px;
	display:none;
}
.diploma .card,.Senior-secondary .card,.post-grad .card,.Senior-secondary .card ,.secondary .card,.Senior-secondary .card,.graduation .card{
	box-shadow: 0px 4px 4px #800080;
	border:none;
	width:40rem;
}
.diploma .headingpart,.post-grad .headingpart,.secondary .headingpart,.Senior-secondary .headingpart,.graduation .headingpart{
	background-color:#800080;
	text-align: center;
	color:#fff;
	padding-top:10px;
	height:70px;	

}
.diploma .headingpart .close ,.post-grad .headingpart .close,.secondary .headingpart .close,.Senior-secondary .headingpart .close,.graduation .headingpart .close{
	float: right; 
	color: #fff; 
	margin-right:20px;
	cursor: pointer;
}
.needs-validation{
	margin-top:30px;
}
.diploma .needs-validation .form-check,.post-grad .needs-validation .form-check,.secondary .needs-validation .form-check,.Senior-secondary .needs-validation .form-check, .graduation .needs-validation .form-check{
	margin-left: 50px;
}
.diploma .needs-validation  label.mainlabel,.post-grad .needs-validation  label.mainlabel,.secondary .needs-validation  label.mainlabel,.Senior-secondary .needs-validation  label.mainlabel, .graduation .needs-validation  label.mainlabel{
    display: block;
    margin-left:40px;
    margin-top:5px;
    font-weight:bold;
}
.post-grad .needs-validation .rextra, .graduation .needs-validation .rextra{
    display: block;
    margin-left:70px;
    margin-top:5px;
    font-weight:bold;
}

.diploma .needs-validation .form-row .form-group label,.post-grad .needs-validation .form-row .form-group label,.secondary .needs-validation .form-row .form-group label,.Senior-secondary .needs-validation .form-row .form-group label, .graduation .needs-validation .form-row .form-group label{
    display: block;
    margin-left:40px;
    margin-top:5px;
    font-weight:bold;
}
.diploma .needs-validation .form-row input[type="text"],.post-grad .needs-validation .form-row input[type="text"],.secondary .needs-validation .form-row input[type="text"],.Senior-secondary .needs-validation .form-row input[type="text"],.graduation .needs-validation .form-row input[type="text"]{
    padding:0px 0px;
	margin:0px 0px 12px 40px;
	border-width:0px 0px 3px 0px;
	outline:none;
}
.diploma .needs-validation .form-row .form-group select,.post-grad .needs-validation .form-row .form-group select,.secondary .needs-validation .form-row .form-group select,.Senior-secondary .needs-validation .form-row .form-group select,.graduation .needs-validation .form-row .form-group select{
    padding:0px 0px;
	margin:0px 0px 12px 40px;
	border-width:0px 0px 3px 0px;
	outline:none;
}
.diploma .needs-validation .form-row input[type="text"]::placeholder,.post-grad .needs-validation .form-row input[type="text"]::placeholder,.secondary .needs-validation .form-row input[type="text"]::placeholder ,.Senior-secondary .needs-validation .form-row input[type="text"]::placeholder ,.graduation .needs-validation .form-row input[type="text"]::placeholder{
	padding-left:14px;
	font-size:13px;
}
.diploma .button,.post-grad .button ,.secondary .button ,.Senior-secondary .button ,.graduation .button {
  background-color: #800080; /* Green */
  border: none;
  color: white;
  padding:15px 32px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  font-size:10px;
  float: right;
  margin:5px 20px 15px 15px;
}



.internship{
	margin-top:15px;
	margin-left:350px;
	display:none;
}
.job{
	margin-top:15px;
	margin-left:350px;
	display:none;
}
.extracurricul{
	margin-top:15px;
	margin-left:350px;
	display:none;
}
.extracurricul .card {
	box-shadow: 0px 4px 4px #026B30;
	border:none;
	width: 40rem;
}
.job .card,.internship .card{
	box-shadow: 0px 4px 4px #ffce42;
	border:none;
	width: 40rem;
}
.extracurricul .headingpart ,.job .headingpart,.internship .headingpart{
	background-color:#ffce42;
	text-align: center;
	color:#fff;
	padding-top:10px;
	height:70px;	

}
.job .needs-validation .form-check,.internship .needs-validation .form-check{
	margin-left: 50px;
}
 .extracurricul .needs-validation  label.mainlabel,.job .needs-validation  label.mainlabel,.internship .needs-validation  label.mainlabel{
	display: block;
    margin-left:40px;
    margin-top:5px;
    font-weight:bold;

}
 .extracurricul .close ,.job .headingpart .close ,.internship .headingpart .close{
	float: right; 
	color: #fff; 
	margin-right:20px;
	 cursor: pointer;
}
 .extracurricul .needs-validation .form-row input,.job .needs-validation .form-row input,.internship .needs-validation .form-row input{
	padding:0px 0px;
	margin:0px 0px 12px 40px;
	border-width:0px 0px 3px 0px;
	outline: none;
}
.job .needs-validation .form-row .form-group select,.internship .needs-validation .form-row .form-group select{
	padding:0px 0px;
	margin:0px 0px 12px 40px;
	border-width:0px 0px 3px 0px;
	outline: none;
}
.extracurricul .needs-validation .form-row .form-group label,.job .needs-validation .form-row .form-group label,.internship .needs-validation .form-row .form-group label{
	display: block;
    margin-left:40px;
    margin-top:5px;
    font-weight:bold;

}
.extracurricul .needs-validation .form-row input[type="text"]::placeholder,.job .needs-validation .form-row input[type="text"]::placeholder,.internship .needs-validation .form-row input[type="text"]::placeholder{
	padding-left:14px;
	font-size:13px;
}

.extracurricul .needs-validation .form-row textarea ,.job .needs-validation .form-row textarea,.internship .needs-validation .form-row textarea{
	padding:0px 0px;
	margin:0px 0px 12px 40px;
	
}
.extracurricul .needs-validation .form-row textarea::placeholder,.job .needs-validation .form-row textarea::placeholder,.internship .needs-validation .form-row textarea::placeholder{
	padding-left:14px;
	font-size:13px;
	padding-top: 5px;
}
.extracurricul .button ,.job .button,.internship .button{
  background-color: #ffce42; /* Green */
  border: none;
  color: white;
  padding:15px 32px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  font-size:10px;
  float: right;
  margin:5px 20px 15px 15px;
	
}








@media (max-width:450px){
	.mainhead-nav .card{
		width:22rem;
		margin-left:8px;
		margin-top: 70px;
		display: block;
		padding: 0px 3px;
		box-shadow: -3px 5px 5px #20B2AA;
		border: none;
		  
	}
	.display-sample{
		margin-top:10px;
		margin-left:10px;
		display:none;
	}
	.display-sample .carousel .card{
		margin-left: 10px;
	}
	.display-sample .headingpart{
		margin-left: 10px;
	}
	.mainhead-nav .card .navigation .notify-item .notify-image .edit-feild{
	margin-left:6px;
	 font-size:16px;
	}
	.mainhead-nav .card .navigation .notify-item .notify-image .fa-pencil{
	font-size:22px;
}
	.navigation{
		margin-top:50px;
		margin-left:-35px;
	}
	.navigation .notify-item .notify-image{
		padding: 15px 0px;
	}	
	.navigation .notify-item .notify-image img{
		width:40px;
		border-radius:50%;
	}
	.navigation hr{
		border-width:2px;
		margin-bottom: 0;
		margin-bottom:-20px;
		width:70%;
		margin-left:60px;
	}
	.Personal-info {
	margin-top:15px;
	margin-left:10px;
	}
	.Personal-info .card{
		width:22rem;
	}
	.Personal-info .headingpart{
		padding-top:10px;
		height:70px;	
	}
	.Personal-info .needs-validation  label{
		margin-left:10px;
		margin-top:5px;  
	}
	.Personal-info .needs-validation .form-row input{
		margin:0px 0px 20px 10px;	
	}
	.Personal-info .needs-validation .form-row .form-group select{
		margin:-12px 0px 10px 10px;
	}

	.experiance{
	margin-top:16px;
	margin-left:15px;
	}
	.experiance .card{
		width: 22rem;	
	}		
	.experiance .card .mainform{
		margin-top:10px;
		margin-bottom:50px;
		margin-left:10px;
	}
	.experiance .dropdown:before{	
		left:42%;
	}
	.education{
	margin-left:15px;
	}
	.education .card{
		width:22rem;	
	}	
	.education .card .mainform{
		margin-top:10px;
		margin-bottom:50px;
		margin-left:20px;
	}
	.education .dropdown:before{
		left:22%;	
	}

	.skill{
	margin-top:16px;
	margin-left:8px;
	}
	.skill .card{	
		width: 22rem;
	}
	.skill .mainform {
		margin-left:5px;
		padding:5px 5px;	
	}
	.skill .mainform .col-md-3{
		border:solid 1px #45b3e0;
		margin: 2px 0px;
		width:5px;
		height:50px;
	}
	.skill .mainform .col-md-3  p{
		margin-top:5px;
	}
	.skill .card .input-section input[type="text"]{
	    width:65%;
		margin:10px 0px 50px 20px;
		border-width:0px 0px 3px 0px;
		outline: none;
	}
	.skill .input-section{
		margin-top:20px;
	}
	.skill .dropdown:before{
		left:62%;
	}
	.skill form .buttom{
	    margin-right:50px;
	    margin-top:-5px;
	   

	}

	.sample-info{
	margin-left:15px;
	}
	.sample-info .card{
		width: 22rem;
	}
	.sample-info .input-section input[type="text"]{  
		margin:0px 0px 30px 20px;
	}
	.sample-info .input-section label{
		margin:0px 0px 10px 20px;
	}
	.sample-info .dropdown:before{
		left:82%;
	}




	.graduation {
	margin-top:15px;
	margin-left:15px;
	
	}
	.Senior-secondary{
		margin-top:15px;
		margin-left:15px;
	}
	.secondary{
		margin-top:15px;
		margin-left:15px;
	}
	.post-grad{
		margin-top:15px;
		margin-left:15px;
	

	}
	.diploma{
		margin-top:15px;
		margin-left:15px;
	}
	.diploma .card,.Senior-secondary .card,.post-grad .card,.Senior-secondary .card ,.secondary .card,.Senior-secondary .card,.graduation .card{
		width: 22rem;
		padding:0 4px;
	}
	.diploma .needs-validation .form-check,.post-grad .needs-validation .form-check,.secondary .needs-validation .form-check,.Senior-secondary .needs-validation .form-check, .graduation .needs-validation .form-check{
		margin-left:5px;
	}
	.diploma .needs-validation  label.mainlabel,.post-grad .needs-validation  label.mainlabel,.secondary .needs-validation  label.mainlabel,.Senior-secondary .needs-validation  label.mainlabel, .graduation .needs-validation  label.mainlabel{
	    margin-left:4px;
	    margin-top:5px;  
	}
	.diploma .needs-validation .form-row .form-group label,.post-grad .needs-validation .form-row .form-group label,.secondary .needs-validation .form-row .form-group label,.Senior-secondary .needs-validation .form-row .form-group label, .graduation .needs-validation .form-row .form-group label{ 
	    margin-left:4px;
	    margin-top:5px;   
	}
	.diploma .needs-validation .form-row input[type="text"],.post-grad .needs-validation .form-row input[type="text"],.secondary .needs-validation .form-row input[type="text"],.Senior-secondary .needs-validation .form-row input[type="text"],.graduation .needs-validation .form-row input[type="text"]{
	    padding:0px 0px;
	    width:90%;
		margin:0px 0px 12px 4px;
		border-width:0px 0px 3px 0px;
		outline:none;
	}
	.diploma .needs-validation .form-row .form-group select,.post-grad .needs-validation .form-row .form-group select,.secondary .needs-validation .form-row .form-group select,.Senior-secondary .needs-validation .form-row .form-group select,.graduation .needs-validation .form-row .form-group select{
	    padding:0px 0px;
		margin:0px 0px 4px 4px;
		border-width:0px 0px 3px 0px;
		outline:none;
	}
	.post-grad .needs-validation .rextra, .graduation .needs-validation .rextra{
	    display: block;
	    margin-left:5px;
	    margin-top:0px;
	    font-weight:bold;
	}


	.internship{
	margin-top:15px;
	margin-left:15px;
	display:none;
	}
	.job{
		margin-top:15px;
		margin-left:15px;
		display:none;
	}
	.extracurricul{
		margin-top:15px;
		margin-left:15px;
		display:none;
	}
	.extracurricul .card,.job .card,.internship .card{
		box-shadow: 0px 4px 4px #ffce42;
		border:none;
		width: 22rem;
		padding:0px 5px;
	}
	.job .needs-validation .form-check,.internship .needs-validation .form-check{
		margin-left: 5px;
	}
	.extracurricul .needs-validation  label.mainlabel,.job .needs-validation  label.mainlabel,.internship .needs-validation  label.mainlabel{
		display: block;
	    margin-left:4px;
	    margin-top:5px;
	    font-weight:bold;

	}
	.extracurricul .needs-validation input,.job .needs-validation .form-row input,.internship .needs-validation .form-row input{
		padding:0px 0px;
		margin:0px 0px 12px 4px;
		border-width:0px 0px 3px 0px;
		outline: none;
	}
	.job .needs-validation .form-row .form-group select,.internship .needs-validation .form-row .form-group select{
		padding:0px 0px;
		margin:0px 0px 12px 4px;
		border-width:0px 0px 3px 0px;
		outline: none;
	}
	.extracurricul .needs-validation .form-row .form-group label,.job .needs-validation .form-row .form-group label,.internship .needs-validation .form-row .form-group label{
		display: block;
	    margin-left:4px;
	    margin-top:5px;
	    font-weight:bold;

	}
	.extracurricul .needs-validation .form-row input[type="text"],.diploma .needs-validation .form-row input[type="text"],.post-grad .needs-validation .form-row input[type="text"],.secondary .needs-validation .form-row input[type="text"],.Senior-secondary .needs-validation .form-row input[type="text"],.graduation .needs-validation .form-row input[type="text"]{
		padding:0px 0px;
		width:90%;
		margin:0px 0px 12px 4px;
		border-width:0px 0px 3px 0px;
		outline:none;
		}
	.extracurricul .needs-validation .form-row input[type="text"]::placeholder,.job .needs-validation .form-row input[type="text"]::placeholder,.internship .needs-validation .form-row input[type="text"]::placeholder{
		padding-left:14px;
		font-size:13px;
	}

	.extracurricul .needs-validation .form-row textarea,.job .needs-validation .form-row textarea,.internship .needs-validation .form-row textarea{
		padding:0px 0px;
		margin:0px 0px 12px 4px;
		width:80%;
		
	}
	.extracurricul .needs-validation .form-row textarea::placeholder,.job .needs-validation .form-row textarea::placeholder,.internship .needs-validation .form-row textarea::placeholder{
		padding-left:14px;
		font-size:13px;
		padding-top: 5px;
	}
	.job .button,.internship .button{
	  background-color: #ffce42; /* Green */
	  border: none;
	  color: white;
	  padding:15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display:inline-block;
	  font-size:10px;
	  float: right;
	  margin:5px 20px 15px 15px;
		
	}

		


}























